*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:130px;
    background:#DFD1A0;
    z-index:1000;

    display:flex;
    justify-content:center;
    align-items:center;
}

.logo{
    position:absolute;
    left:200px;
}

.logo img{
    width:120px; /* antes 90px */
    height:120px;
    object-fit:cover;
    border-radius:100%;
}

nav{
    display:flex;
    gap:90px;

    position:relative;
    left:-300px; /* mueve hacia la izquierda */
    top:27px;   /* mueve hacia abajo */
}

nav a{
    text-decoration:none;
    color:black;
    font-family:'Istok Web', sans-serif;
    font-size:1.05rem;
    font-weight:700;
}

nav a.active{
    color:red;
}

.corner{
    position:absolute;
    top:0;
    right:0;

    width:170px;
    height:105px;

    background:#824648;

    clip-path:polygon(0 0,100% 0,100% 100%);
}

main{
    margin-top:105px;

    display:flex;
    justify-content:center;
}


h2 {
    font-family: "Luckiest Guy", cursive;
    font-size: 2rem;
    margin: 30px 0 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    text-shadow: 2px 2px #23253d22;
}

.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 60px;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0 auto;
    max-width: 900px;
}

.producto {
    background: #f2debb;
    border-radius: 48px;
    border: 22px solid #232323;
    width: 490px;
    height: 560px;
    position: relative;
    overflow: hidden;
    box-shadow: 6px 6px 16px #23232333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: transform 0.18s;
}

.producto:hover {
    transform: scale(1.03);
}

.producto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.rombo-bg {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    right: 0;
    left: -7px;
    z-index: -1;
    background: url('rombo.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    margin-right: 20px;
}
.redes {
  text-align: center;
  padding: 60px;
}
.redes img{
    z-index: 1;
}
.redes h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 5.5rem;
  color: #000000;
  text-shadow: 2px 2px 0 #824648;
  margin-bottom: 40px;
  text-align: center;
  z-index: 2;
}

.contenedor-redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}


.red {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red h2 {
  font-family: "Luckiest Guy", cursive;
  font-size: 5rem;
  color: #824648;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}

.red h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #ff2828;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.icono-red {
  width: 160px;
  height: auto;
  transition: transform 0.3s ease;
}

.icono-red:hover {
  transform: scale(1.1);
}




@media (max-width:480px){

    .logo img{
        width:65px;
        height:65px;
    }

    nav{
        gap:15px;
    }

    nav a{
        font-size:.9rem;
    }

}
